.row {
  display: block;
  padding: 0em 3em;
  width: auto;
}

.col {
  display:inline-block;
  margin: 1em;
}

.center-align: {
  text-align: center;
}

.md-avatar, .md-avatar-circle, #avatar, #custom{
  display:inline-block;
  width: 200px;
  height: 200px;
}
